@charset "utf-8";

$maxWidth: 1070;
$baseHeight: 60;

$headerHeight: $baseHeight;
$lineNavHeight: $baseHeight / 2;
$boxNavHeight: $baseHeight * 2;
$imageSliderLargeHeight: $baseHeight * 5;
$imageSliderSmallHeight: $baseHeight * 2;
$switchSmallNavScrollY: $headerHeight + $lineNavHeight;
$mainMinHeight: $headerHeight + $boxNavHeight + $imageSliderLargeHeight;
$talknPostHeight: $baseHeight;

// calc.
$mainLargeMarginTop: $headerHeight + $boxNavHeight + $imageSliderLargeHeight;
$mainLargeFixedMarginTop: $headerHeight + $lineNavHeight + $imageSliderSmallHeight + $switchSmallNavScrollY;
$mainSmallMarginTop: $headerHeight + $lineNavHeight + $imageSliderSmallHeight;
$footerScrollTop: 1068;
$advertWrapSize: 300;
$talknPostScrollTop: 1068;
$topImageSectionDefaultHeight: 300;

// zindex
$loading_area_zindex: 10000; // be top of all
$modal_zindex: 21;
$header_list_zindex: 20;
$header_zindex: 10;

// breakpoints
$tab: 960;
$spLayoutWidth: 720;
$sp: 480;

// header
$header_height_wide: 80px;
$header_height_narrow: 60px;

// transition
$transitionDuration1: 0.1s;
$transitionDuration2: 0.2s;
$transitionDuration: 0.3s;

// ==========
//colors
// ==========

// key colors
$keycolor: #3475cc;

// txt
$txt_color: #333;
$emtxt_color: #000;

// black and white
$white: #fff;
$black: #000;

$markupColor: #ddd;
$borderColor: #ede;
$themeColor: rgb(79, 174, 159);
