@charset "utf-8";

@import '~normalize.css';
@import 'variables';

@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*='#{$browser}'] & {
      @content;
    }
  }
}

/* base style */
*,
*::before,
*::after {
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  user-select: none;
}

*::-webkit-scrollbar {
  @include browser('Windows') {
    width: 0;
    height: 0;
    overflow: visible;
  }
}
*::-webkit-scrollbar-thumb {
  @include browser('Windows') {
    width: 0;
    height: 0;
    overflow: visible;
  }
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a:link {
  color: rgb(50, 50, 50);
}
a:visited {
  color: rgb(50, 50, 50);
}
a:hover {
  color: rgb(0, 0, 0);
}
a:active {
  color: rgb(50, 50, 50);
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Hiragino Sans', 'Noto Sans CJK JP', 'Original Yu Gothic',
    'Yu Gothic', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Sans Emoji';
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  color: $txt_color;
  letter-spacing: 0;
  @media (max-width: $spLayoutWidth) {
    background: $white;
  }
  @media (min-width: calc(#{$spLayoutWidth}px + 1px)) {
    background: $markupColor;
  }

  /* @see http://creator.dwango.co.jp/14128.html */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

ol,
ul,
button,
footer,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  list-style: none;
}
